<script>
	import '../../DashBoard.client.ts';
</script>

<main class="w-full flex items-center justify-center mt-6">
	<div class="grid grid-cols-1 lg:grid-cols-3 gap-5 w-full px-4">
		<div class="grid grid-cols-1 gap-4 bg-white rounded-3xl p-10">
			<h1 class="font-semibold text-2xl">RKPD</h1>
			<div class="flex justify-between bg-[#f62d51] rounded-2xl p-4">
				<ul class="grid items-start text-white">
					<h1 class="text-5xl font-semibold">0</h1>
					<p>belum input</p>
				</ul>
				<ul
					class="h-full bg-gradient-to-b from-transparent to-black rounded-full w-8"
				>
				</ul>
			</div>
			<div class="flex justify-between bg-[#39c449] rounded-2xl p-4">
				<ul class="grid items-start text-white">
					<h1 class="text-5xl font-semibold">0</h1>
					<p>Rancangan Awal</p>
				</ul>
				<ul
					class="h-full bg-gradient-to-b from-transparent to-black rounded-full w-8"
				>
				</ul>
			</div>
			<div class="flex justify-between bg-[#263238] rounded-2xl p-4">
				<ul class="grid items-start text-white">
					<h1 class="text-5xl font-semibold">0</h1>
					<p>Rancangan</p>
				</ul>
				<ul
					class="h-full bg-gradient-to-b from-transparent to-black rounded-full w-8"
				>
				</ul>
			</div>
			<div class="flex justify-between bg-[#ffbc34] rounded-2xl p-4">
				<ul class="grid items-start text-white">
					<h1 class="text-5xl font-semibold">0</h1>
					<p>Musrenbang</p>
				</ul>
				<ul
					class="h-full bg-gradient-to-b from-transparent to-black rounded-full w-8"
				>
				</ul>
			</div>
			<div class="flex justify-between bg-[#7460ee] rounded-2xl p-4">
				<ul class="grid items-start text-white">
					<h1 class="text-5xl font-semibold">0</h1>
					<p>Rancangan Akhir</p>
				</ul>
				<ul
					class="h-full bg-gradient-to-b from-transparent to-black rounded-full w-8"
				>
				</ul>
			</div>
			<div class="flex justify-between bg-[#009efb] rounded-2xl p-4">
				<ul class="grid items-start text-white">
					<h1 class="text-5xl font-semibold">0</h1>
					<p>Penetapan</p>
				</ul>
				<ul
					class="h-full bg-gradient-to-b from-transparent to-black rounded-full w-8"
				>
				</ul>
			</div>
		</div>

		<div class="gap-5">
			<div class="grid grid-cols-1 gap-4 bg-white rounded-3xl p-10">
				<h1 class="font-semibold text-2xl">KUA dan PPAS</h1>
				<div class="flex justify-between bg-[#cd69c9] rounded-2xl p-4">
					<ul class="grid items-start text-white">
						<h1 class="text-5xl font-semibold">0</h1>
						<p>Rancangan</p>
					</ul>
					<ul
						class="h-full bg-gradient-to-b from-transparent to-black rounded-full w-8"
					>
					</ul>
				</div>
				<div class="flex justify-between bg-[#cd3178] rounded-2xl p-4">
					<ul class="grid items-start text-white">
						<h1 class="text-5xl font-semibold">0</h1>
						<p>Penetapan</p>
					</ul>
					<ul
						class="h-full bg-gradient-to-b from-transparent to-black rounded-full w-8"
					>
					</ul>
				</div>
			</div>

			<div
				class="grid grid-cols-1 mt-5 lg:mt-0 gap-4 bg-white rounded-3xl p-10"
			>
			<h1 class="text-2xl font-semibold">APBD</h1>
				<div class="flex justify-between bg-[#b3ee3a] rounded-2xl p-4">
					<ul class="grid items-start text-white">
						<h1 class="text-5xl font-semibold">0</h1>
						<p>Rancangan</p>
					</ul>
					<ul
						class="h-full bg-gradient-to-b from-transparent to-black rounded-full w-8"
					>
					</ul>
				</div>
				<div class="flex justify-between bg-[#009efb] rounded-2xl p-4">
					<ul class="grid items-start text-white">
						<h1 class="text-5xl font-semibold">0</h1>
						<p>Penetapan</p>
					</ul>
					<ul
						class="h-full bg-gradient-to-b from-transparent to-black rounded-full w-8"
					>
					</ul>
				</div>
			</div>
		</div>

		<section>
			<div>
				<div id="traffic-by-device"></div>
			</div>
		</section>
	</div>
</main>
