	<main class="flex justify-center">
	<div class="lg:p-20 lg:pt-10 grid items-center gap-5">
		<div class="flex items-center gap-3 font-semibold">
			<div class="kotak p-3 rounded-md bg-red-500"></div>
			<div class="font-normal">Belum Input</div>
		</div>
		<div class="ijo flex items-center gap-3 font-semibold">
			<div class="kotak p-3 rounded-md bg-green-500"></div>
			<div class="font-normal">Rancangan Awal</div>
		</div>
		<div class="item flex items-center gap-3 font-semibold">
			<div class="kotak p-3 rounded-md bg-gray-800"></div>
			<div class="font-normal">Rancangan</div>
		</div>
		<div class="kuning flex items-center gap-3 font-semibold">
			<div class="kotak p-3 rounded-md bg-yellow-500"></div>
			<div class="font-normal">Musrenbang</div>
		</div>
		<div class="flex items-center gap-3 font-semibold">
			<div class="kotak p-3 rounded-md bg-purple-600"></div>
			<div class="font-normal">Rancangan Akhir</div>
		</div>
		<div class="flex items-center gap-3 font-semibold">
			<div class="kotak p-3 rounded-md bg-blue-500"></div>
			<div class="font-normal">Penetapan</div>
		</div>
		<div class="flex items-center gap-3 font-semibold">
			<div class="kotak p-3 rounded-md bg-purple-400"></div>
			<div class="font-normal">Rancangan KUA dan PPAS</div>
		</div>
		<div class="flex items-center gap-3 font-semibold">
			<div class="kotak p-3 rounded-md bg-pink-700"></div>
			<div class="font-normal">Penetapan KUA dan PPAS</div>
		</div>
		<div class="flex items-center gap-3 font-semibold">
			<div class="kotak p-3 rounded-md bg-lime-400"></div>
			<div class="font-normal">Rancangan APBD</div>
		</div>
		<div class="flex items-center gap-3 font-semibold">
			<div class="kotak p-3 rounded-md bg-[#cebe70]"></div>
			<div class="font-normal">Penetapan APBD</div>
		</div>
	</div>
</main>
